<li class="nav-item dropdown position-static">
    <a class="nav-link dropdown-toggle" href="#" id="megaDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      Convert
    </a>
    <div class="dropdown-menu w-100 p-4" aria-labelledby="megaDropdown">
      <div class="container">
        <div class="row">
          <!-- Column 1: Audio Converter -->
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <!-- Inline SVG Icon for Audio Converter -->
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" class="me-2">
                    <path d="M22.87,9.071c-0.081-0.065-0.189-0.087-0.29-0.06l-7.334,2.1c-0.149,0.045-0.249,0.184-0.246,0.339v8.565 c-0.42-0.32-1.007-0.515-1.667-0.515c-1.308,0-2.333,0.769-2.333,1.75s1.025,1.75,2.333,1.75s2.334-0.769,2.334-1.75v-9.534 l6.666-1.91v8.808c-0.42-0.32-1.007-0.516-1.666-0.516c-1.308,0-2.334,0.769-2.334,1.75s1.026,1.75,2.334,1.75S23,20.83,23,19.85 V9.35C23.001,9.242,22.953,9.14,22.87,9.071z" fill="red"></path>
                    <path d="M17.5,33C8.402,33,1,25.598,1,16.5S8.402,0,17.5,0S34,7.402,34,16.5S26.598,33,17.5,33z M17.5,1 C8.953,1,2,7.953,2,16.5S8.953,32,17.5,32S33,25.047,33,16.5S26.047,1,17.5,1z"></path>
                  </svg>
                  <span>Audio Converter</span>
                </a>
              </li>
              <!-- Add more items for Audio if needed -->
            </ul>
          </div>

          <!-- Column 2: Video Converter -->
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" class="me-2">
                    <path d="M15,9.751v10.497L21.848,15L15,9.751z" fill="red"></path>
                    <path d="M0,3v24h35V3H0z M34,26H1V4h33V26z M9,29h17v1H9V29z"></path>
                  </svg>
                  <span>Video Converter</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- Column 3: Image Converter -->
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" class="me-2">
                    <path d="M26.5,9c0.828,0,1.5,0.671,1.5,1.5S27.328,12,26.5,12S25,11.329,25,10.5S25.672,9,26.5,9z M27.7,17.3 l-5.25,5.25l6.597,6.597l-0.707,0.707l-6.95-6.95L10.786,12.3l-9.933,9.932l-0.707-0.707l10.64-10.639l10.957,10.957l5.957-5.957 l7.153,7.153l-0.707,0.707L27.7,17.3z" fill="red"></path>
                    <path d="M35,30H0V3h35V30z M1,29h33V4H1V29z"></path>
                  </svg>
                  <span>Image Converter</span>
                </a>
              </li>
            </ul>
          </div>

          <!-- Column 4: Document Converter -->
          <div class="col-md-3">
            <ul class="list-unstyled">
              <li>
                <a class="dropdown-item d-flex align-items-center" href="#">
                  <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" class="me-2">
                    <path d="M10,13h15v1H10V13z M10,18h12v1H10V18z M10,23h15v1H10V23z" fill="red"></path>
                    <path d="M22.154,0H3v33h29V9.495L22.154,0z M22,1.241L30.047,9H22V1.241z M31,32H4V1h17v9h10V32z"></path>
                  </svg>
                  <span>Document Converter</span>
                </a>
              </li>
              <!-- You can add additional columns or items for other converter types like Archive, Presentation, Font, Ebook, etc. in similar columns -->
            </ul>
          </div>
        </div>

        <!-- Row 2 -->
        <div class="row mt-4">
            <!-- Column 1: Archive Converter -->
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <!-- Inline SVG Icon for Archive Converter -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" class="me-2">
                      <path d="M12,16h11v1H12V16z M12,26h11v-1H12V26z M12,7v1h11V7H12z" fill="red"></path>
                      <path d="M3,3v27h29V3H3z M31,4v7H4V4H31z M31,12v9H4v-9H31z M4,29v-7h27v7H4z"></path>
                    </svg>
                    <span>Archive Converter</span>
                  </a>
                </li>
                <!-- Add more items for Audio if needed -->
              </ul>
            </div>
  
            <!-- Column 2: Presentation Converter -->
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" class="me-2">
                      <path d="M19.493,21.823l-6.013-8.018L8.884,19.32L8.116,18.68l5.405-6.485l5.987,7.982l6.598-8.483l0.789,0.613 L19.493,21.823z" fill="red"></path>
                      <path d="M35,30H0V3h35V30z M1,29h33V4H1V29z"></path>
                    </svg>
                    <span>Presentation Converter</span>
                  </a>
                </li>
              </ul>
            </div>
  
            <!-- Column 3: Font Converter -->
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" class="me-2">
                      <path d="M20.83,18.205h-6.672L11.867,24H10.6l6.604-16.486h0.729L24.4,24h-1.291L20.83,18.205z M14.574,17.172 h5.873l-2.234-5.918c-0.188-0.465-0.412-1.107-0.674-1.932c-0.201,0.719-0.422,1.369-0.662,1.953L14.574,17.172z" fill="red"></path>
                      <path d="M17.5,33C8.402,33,1,25.598,1,16.5S8.402,0,17.5,0S34,7.402,34,16.5S26.598,33,17.5,33z M17.5,1 C8.953,1,2,7.953,2,16.5S8.953,32,17.5,32S33,25.047,33,16.5S26.047,1,17.5,1z"></path>
                    </svg>
                    <span>Font Converter</span>
                  </a>
                </li>
              </ul>
            </div>
  
            <!-- Column 4: Ebook Converter -->
            <div class="col-md-3">
              <ul class="list-unstyled">
                <li>
                  <a class="dropdown-item d-flex align-items-center" href="#">
                    <svg xmlns="http://www.w3.org/2000/svg" width="35" height="33" viewBox="0 0 35 33" class="me-2">
                      <path d="M27,14H8V7h19V14z M9,13h17V8H9V13z" fill="red"></path>
                      <path d="M6.5,1C4.57,1,3,2.57,3,4.5v24C3,30.43,4.57,32,6.5,32H32v-1H6.5C5.121,31,4,29.879,4,28.5S5.121,26,6.5,26 H32v-0.5V25V1H6.5z M6.5,25c-0.979,0-1.864,0.407-2.5,1.059V4.5C4,3.121,5.121,2,6.5,2H31v23H6.5z"></path>
                    </svg>
                    <span>Ebook Converter</span>
                  </a>
                </li>
                <!-- You can add additional columns or items for other converter types like Archive, Presentation, Font, Ebook, etc. in similar columns -->
              </ul>
            </div>
          </div>

      </div>
    </div>
  </li>
